/* Default navbar style */
.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 170px;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8); /* Slightly transparent by default */
    transition: background-color 0.3s ease; /* Smooth transition */
}

/* Transparent navbar style */
.navbar.transparent {
    background-color: rgba(0, 0, 0, 0.5); /* More transparent on scroll */
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.61%);
    font-size: 22px;
    cursor: pointer;
    transition: transform 0.5s;
}

.nav-connect:hover {
    transform: scale(1.05);
}